In [32]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3), #4列3行
            columns=['d','f','e'],
            index=['台北','台中','台南','高雄']
            )
frame

           d         f         e
台北  0.182571 -2.817002 -0.292654
台中 -1.273629 -1.345389 -0.944583
台南  0.585882  0.103765 -0.512375
高雄 -0.208790  1.605900 -0.398322

In [33]:
np.absolute(frame)

           d         f         e
台北  0.182571  2.817002  0.292654
台中  1.273629  1.345389  0.944583
台南  0.585882  0.103765  0.512375
高雄  0.208790  1.605900  0.398322

In [34]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=======")

0.1825710714246592
-1.2736288661250557
0.5858819733816205
-0.20879026424779212
=======
-2.817002480151096
-1.3453886443312173
0.10376515423541463
1.6058997800419508
=======
-0.2926538768932552
-0.9445834835778029
-0.5123749822613445
-0.39832249125554325
=======

In [35]:
#使用for in 讀取DataFrame
for column in frame:
    print(np.abs(frame[column]))

台北    0.182571
台中    1.273629
台南    0.585882
高雄    0.208790
Name: d, dtype: float64
台北    2.817002
台中    1.345389
台南    0.103765
高雄    1.605900
Name: f, dtype: float64
台北    0.292654
台中    0.944583
台南    0.512375
高雄    0.398322
Name: e, dtype: float64

In [36]:
np.max(frame,axis=0)

d    0.585882
f    1.605900
e   -0.292654
dtype: float64

In [37]:
np.max(frame,axis=1)

台北    0.182571
台中   -0.944583
台南    0.585882
高雄    1.605900
dtype: float64

In [38]:
#使用numpy的fuction

np.max(frame,axis=0)-np.min(frame,axis=0)

d    1.859511
f    4.422902
e    0.651930
dtype: float64

In [39]:
#使用dataFrame的method(實體方法)

frame.max(axis=0)-frame.min(axis=0)

d    1.859511
f    4.422902
e    0.651930
dtype: float64

In [41]:
#自訂 #利用apply 原本dataframe經過統計運算傳出一個新的dataframe 例如全班到底有多少人不及格？全部抓到新的資料夾

def fun1(series):
    print(series.name)
    return series.max()-series.min()+1

frame.apply(fun1)  #不是執行是註冊

d
f
e

d    2.859511
f    5.422902
e    1.651930
dtype: float64