In [3]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3,]]
           )       

s1

a  1    0.194927
   2   -1.647683
   3   -0.737250
b  1    1.022880
   2    0.065056
c  3    0.850104
   1    0.899127
d  2    0.069922
   3    2.108748
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
display(s1)   #display只有ipynb才有 py檔沒有

a  1    0.194927
   2   -1.647683
   3   -0.737250
b  1    1.022880
   2    0.065056
c  3    0.850104
   1    0.899127
d  2    0.069922
   3    2.108748
dtype: float64

In [6]:
s1['a']

1    0.194927
2   -1.647683
3   -0.737250
dtype: float64

In [8]:
s1[['b','c']]   #外[]=subscript   內[]=list

b  1    1.022880
   2    0.065056
c  3    0.850104
   1    0.899127
dtype: float64

In [10]:
s1['b':'d']

b  1    1.022880
   2    0.065056
c  3    0.850104
   1    0.899127
d  2    0.069922
   3    2.108748
dtype: float64

In [12]:
display(s1)
s1['a'][3]

a  1    0.194927
   2   -1.647683
   3   -0.737250
b  1    1.022880
   2    0.065056
c  3    0.850104
   1    0.899127
d  2    0.069922
   3    2.108748
dtype: float64

-0.7372495540959734

In [13]:
s1.loc['b',1]

1.022880373756568

In [14]:
s1['b',1]

1.022880373756568

In [15]:
s1.unstack()

          1         2         3
a  0.194927 -1.647683 -0.737250
b  1.022880  0.065056       NaN
c  0.899127       NaN  0.850104
d       NaN  0.069922  2.108748

In [16]:
s1.unstack(level=0)

          a         b         c         d
1  0.194927  1.022880  0.899127       NaN
2 -1.647683  0.065056       NaN  0.069922
3 -0.737250       NaN  0.850104  2.108748

In [17]:
s1.unstack(level=0).T

          1         2         3
a  0.194927 -1.647683 -0.737250
b  1.022880  0.065056       NaN
c  0.899127       NaN  0.850104
d       NaN  0.069922  2.108748

In [19]:
s1.unstack(level=0).T.stack()

a  1    0.194927
   2   -1.647683
   3   -0.737250
b  1    1.022880
   2    0.065056
c  1    0.899127
   3    0.850104
d  2    0.069922
   3    2.108748
dtype: float64