In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40,high=101,size=(50,5))
scores_df=pd.DataFrame(scores,
    columns=['國文','英文','數學','地理','歷史'],
    index=range(1,51))
scores_df.index.name="學號"
scores_df.columns.name="科目"

#display(sum_series)               #sum總分 #mean平均 #rank排名
sum_series=scores_df.sum(axis=1)
mean_series=scores_df.mean(axis=1)
rank_series=sum_series.rank(method='min',ascending=False) #rank依照總分1~50(但表格整體排列沒有變)
scores_df['總分']=sum_series
scores_df['平均']=mean_series
scores_df['名次']=rank_series
scores_df.sort_values(by="名次")   #sort_value把表格依照名次排列

科目  國文   英文   數學  地理   歷史   總分    平均    名次
學號
4   87  100   72  87  100  446  89.2   1.0
46  91   45   91  87   85  399  79.8   2.0
36  61   89  100  93   47  390  78.0   3.0
10  89   90   92  58   58  387  77.4   4.0
33  81   83   68  77   77  386  77.2   5.0
21  75   94   75  85   57  386  77.2   5.0
29  80   63   96  92   54  385  77.0   7.0
6   59  100   81  77   65  382  76.4   8.0
48  57   91   52  92   86  378  75.6   9.0
19  62   96   72  83   65  378  75.6   9.0
49  80   75   81  78   62  376  75.2  11.0
31  50   95   84  57   85  371  74.2  12.0
37  84   73   92  59   61  369  73.8  13.0
15  53   79   92  45   98  367  73.4  14.0
43  61   97   81  78   47  364  72.8  15.0
27  80   80   47  57  100  364  72.8  15.0
50  55   94   94  49   69  361  72.2  17.0
22  69   93   98  42   55  357  71.4  18.0
38  53   72   62  75   92  354  70.8  19.0
26  52   72   82  73   75  354  70.8  19.0
39  69   93   59  88   43  352  70.4  21.0
7   75   88   59  52   77  351  70.2  22.0
20  50   81   61  59   97  348  69.6  23.0
32  89   42   93  63   60  347  69.4  24.0
14  72   59   50  91   74  346  69.2  25.0
35  83   45   68  79   70  345  69.0  26.0
30  98   67   45  68   59  337  67.4  27.0
18  48   54   92  99   40  333  66.6  28.0
28  84   72   50  66   61  333  66.6  28.0
11  40   99   56  45   88  328  65.6  30.0
17  68   63   93  52   51  327  65.4  31.0
25  92   69   50  73   42  326  65.2  32.0
8   89   59   42  52   79  321  64.2  33.0
5   71   47   65  97   41  321  64.2  33.0
12  52   46  100  73   47  318  63.6  35.0
1   55   41   65  67   89  317  63.4  36.0
40  87   53   53  44   79  316  63.2  37.0
9   54   40   99  61   57  311  62.2  38.0
2   42   50   68  50   99  309  61.8  39.0
34  50   94   64  57   40  305  61.0  40.0
24  91   49   45  55   64  304  60.8  41.0
3   92   40   48  75   41  296  59.2  42.0
45  51   49   59  42   91  292  58.4  43.0
42  68   65   51  58   48  290  58.0  44.0
44  59   73   41  64   52  289  57.8  45.0
23  50   55   74  41   66  286  57.2  46.0
47  42   50   54  48   87  281  56.2  47.0
13  84   44   42  44   59  273  54.6  48.0
41  42   47   80  62   42  273  54.6  48.0
16  51   52   46  76   45  270  54.0  50.0

In [6]:
def fun1(series:pd.Series)-> int:
    return series.max() #傳出每個series的最高分：國文最高分、英文最高分、數學最高分、地理最高分、歷史最高分

subject_df=scores_df[['國文','英文','數學','地理','歷史']]

subject_df.apply(fun1)

科目
國文     98
英文    100
數學    100
地理     99
歷史    100
dtype: int64

In [7]:
def fun1(series:pd.Series)-> int:
    s1 = pd.Series(series.median(),index=['中間值'])  #傳出中間值
    return s1 #傳出s1

subject_df=scores_df[['國文','英文','數學','地理','歷史']]

subject_df.apply(fun1)

科目     國文    英文    數學    地理    歷史
中間值  68.0  70.5  68.0  65.0  63.0

In [14]:
def fun1(series:pd.Series)-> int:
    min=series.min()         #先定義min
    median=series.median()   #先定義median
    max=series.max()         #先定義max
    s1=pd.Series([min,median,max],index=['最低分','中間值','最高分'])  #傳出最低分中間值
    return s1 #傳出s1

subject_df=scores_df[['國文','英文','數學','地理','歷史']]

frame1=subject_df.apply(fun1)
frame1

科目     國文     英文     數學    地理     歷史
最低分  40.0   40.0   41.0  41.0   40.0
中間值  68.0   70.5   68.0  65.0   63.0
最高分  98.0  100.0  100.0  99.0  100.0

In [26]:
def fun2(series:pd.Series) ->pd.Series:
    lessthan60=series[series<60].count()                    #定義
    chinese ='及格' if (series['國文'] >=60) else "不及格"   #定義
    english ='及格' if (series['英文'] >=60) else "不及格"   #定義
    
    return pd.Series([lessthan60,chinese,english],index=['不及格科目','國文','英文'])

display(subject_df.T)
subject_df.T.apply(fun2).T   # .T欄列對調

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,55,42,92,87,71,59,75,89,54,89,...,42,68,61,59,51,91,42,57,80,55
英文,41,50,40,100,47,100,88,59,40,90,...,47,65,97,73,49,45,50,91,75,94
數學,65,68,48,72,65,81,59,42,99,92,...,80,51,81,41,59,91,54,52,81,94
地理,67,50,75,87,97,77,52,52,61,58,...,62,58,78,64,42,87,48,92,78,49
歷史,89,99,41,100,41,65,77,79,57,58,...,42,48,47,52,91,85,87,86,62,69

   不及格科目   國文   英文
學號
1      2  不及格  不及格
2      3  不及格  不及格
3      3   及格  不及格
4      0   及格   及格
5      2   及格  不及格
6      1  不及格   及格
7      2   及格   及格
8      3   及格  不及格
9      3  不及格  不及格
10     2   及格   及格
11     3  不及格   及格
12     3  不及格  不及格
13     4   及格  不及格
14     2   及格  不及格
15     2  不及格   及格
16     4  不及格  不及格
17     2   及格   及格
18     3  不及格  不及格
19     0   及格   及格
20     2  不及格   及格
21     1   及格   及格
22     2   及格   及格
23     3  不及格  不及格
24     3   及格  不及格
25     2   及格   及格
26     1  不及格   及格
27     2   及格   及格
28     1   及格   及格
29     1   及格   及格
30     2   及格   及格
31     2  不及格   及格
32     1   及格  不及格
33     0   及格   及格
34     3  不及格   及格
35     1   及格  不及格
36     1   及格   及格
37     1   及格   及格
38     1  不及格   及格
39     2   及格   及格
40     3   及格  不及格
41     3  不及格  不及格
42     3   及格   及格
43     1   及格   及格
44     3  不及格   及格
45     4  不及格  不及格
46     1   及格  不及格
47     4  不及格  不及格
48     2  不及格   及格
49     0   及格   及格
50     2  不及格   及格

In [22]:
s1 = subject_df.T[3]
'及格' if S1['國文']>=60 else '不及格'

3